name: Build and Publish Prebuilt Binaries
on: [push]
jobs:
  build:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: windows-x64
            os: windows-latest
            arch: x64
    steps:
      - uses: actions/checkout@v5

      - uses: lukka/get-cmake@latest

      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ matrix.arch }}
      
      - name: Build
        run: |
          cmake -B build -S . ${{ matrix.cmake_args }} -DCMAKE_BUILD_TYPE=Release -DASSIMP_BUILD_TESTS=OFF
          cmake --build build --config Release
          
      - name: list files
        run: |
          ls
          cd build
          ls
          cd ../
          ls

      - name: Tag the repository
        id: tag
        run: |
          # See https://docs.github.com/en/get-started/using-git/dealing-with-special-characters-in-branch-and-tag-names
          TAG=v$(date -Iseconds | sed 's/[T:\+]/-/g')
          echo "$TAG"
          echo "tag=$TAG" >> $GITHUB_OUTPUT
          git tag -a $TAG -m "Published version $TAG" ${GITHUB_SHA}
          git push origin $TAG

      - uses: TheDoctor0/zip-release@0.7.6
        with:
          filename: ${{ matrix.name }}-${{ steps.tag.outputs.tag }}.zip
          directory: build/bin/

      - uses: TheDoctor0/zip-release@0.7.6
        with:
          filename: ${{ matrix.name }}-${{ steps.tag.outputs.tag }}.zip
          directory: build/lib/

      - uses: softprops/action-gh-release@v2
        with:
          files: |
            build/bin/${{ matrix.name }}-${{ steps.tag.outputs.tag }}.zip
            build/lib/${{ matrix.name }}-${{ steps.tag.outputs.tag }}.zip
          append_body: true
          fail_on_unmatched_files: true
